<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lewis.lewisframe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />



    <!--Umeng-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".animation.MaterialDesignAnimation" />
        <activity android:name=".animation.ToActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity
            android:name=".activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- 相机界面注册的activity -->
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.TouchActivity" />
        <activity android:name=".ipc.IPCActivity" />
        <activity android:name=".ipc.IPC2Activity" />
        <activity android:name=".activity.CustomViewActivit" />
        <activity android:name=".ipc.aidl.AIDLActivity" />
        <activity android:name=".broadcast.BroadcastActivity">
        </activity>

        <receiver android:name=".broadcast.BC1">
            <intent-filter>
                <action android:name="BC1" />
            </intent-filter>
        </receiver>

        <service
            android:name=".broadcast.SendBroadcastService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.RoundBitmapActivity"/>
        <activity android:name=".imageloader.ImageLoaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data android:value="5720e1c0e0f55a2b69002874" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>